// Base
@import './base/mixins';
@import './base/reset';
@import './base/vars';
@import './base/base';


// Blocks
@import './blocks/header';
@import './blocks/hairstyle';
@import './blocks/history';
@import './blocks/services';
@import './blocks/gallery';
@import './blocks/footer';