.header {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    max-width: 1550px;
    margin: 0 auto;
    padding: 0 25px;
    padding-top: 60px;
}
.header__logo {
    margin-right: 100px;
}
.header__logo-link {
    display: flex;
    position: relative;
}
.header__logo-img {
    position: absolute;
    bottom: 10px;
    left: 14px;

    transform: rotate(-60deg);
}
.header__logo-text {
    color: $lightBlue-color;

    padding-left: 75px;
    font-size: 40px;
    font-weight: 600;
    line-height: 53px;
}
.nav__list {
    display: flex;
    gap: 48px;
}
.nav__item {
    padding: 100px 10px 15px 10px;
    border-radius: 5px;

    color: $text-color;

    font-size: 25px;
    font-weight: 500;
    line-height: 33px;

    transition: all 0.15s ease-in;

    &:hover {
        background-color: $btn-blue;
        color: $white;
    }
}
.header__panel {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 72px;
}

.header__panel-notification {
    position: relative;

    &::after {
        content: "2";
        position: absolute;
        top: 0;
        right: 0;
        width: 16.9px;
        height: 16.9px;

        border-radius: 50%;
        border: 1px solid $white;

        font-size: 11px;
        font-weight: 700;
        line-height: 17px;

        text-align: center;
        color: $white;
        background-color: $circl-notify;
    }
}

