.header {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    max-width: 1550px;
    margin: 0 auto;
    padding: 0 25px;
    padding-top: 60px;

    @include mediaLaptop {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        row-gap: 30px;
    }

    @include mediaPhone {

        justify-items: right;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

        padding: 60px 10px 10px;

        box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
    }

    @include mediaPhone {
        &.active{
            grid-template-columns: 1fr;
            grid-template-rows: 50px 50px auto;
            row-gap: 30px;
            justify-items: center;
            align-items: start;
        
            position: fixed;
            top: 0%;
            z-index: 2;
            width: 100%;
            height: 100%;
        
            background-color: $burger-bg;
        
            animation: view 0.2s ease 1;
        
            @keyframes view {
                0%{
                    opacity: 0.96;
                }
               
                100%{
                    opacity: 1;
                }
            }
        
            
           }
    }
   
}
.header__logo {
    margin-right: 100px;
    @include mediaLaptop {
        margin: 0 auto;
    }
    @include mediaPhone {
        order: 0;
    }
}
.header__logo-link {
    position: relative;
}
.header__logo-img {
    position: absolute;
    bottom: 10px;
    left: 14px;

    transform: rotate(-60deg);

    @include mediaPhone {
        transform: rotate(-60deg) scale(0.8) ;
        left: 20px;
    }
}
.header__logo-text {
    color: $lightBlue-color;

    padding-left: 75px;
    font-size: 40px;
    font-weight: 600;
    line-height: 53px;

    @include mediaPhone {
        font-size: 30px;
    }
    
}

.header__nav{
    &.active{
        order: 2;
    }
}


.nav__list {
    display: flex;
    gap: 48px; 
    @include mediaLaptop {
        justify-content: center;
    }

    @include mediaPhone {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}
.nav__item {
    padding: 100px 10px 15px 10px;
    border-radius: 5px;

    color: $text-color;

    font-size: 25px;
    font-weight: 500;
    line-height: 33px;

    transition: all 0.15s ease-in;

    &:hover {
        background-color: $btn-blue;
        color: $white;
    }

    @include mediaPhone {
        color: $lightBlue-color;
        padding: 10px;
        
    }
    
    
}

.header__panel {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 72px;
    @include mediaLaptop {
        justify-content: center;
        gap: 50px;
    }

    @include mediaPhone {
        order: 1;
        padding-left: 50px;
    }
}

.header__panel-btn{
    @include mediaLaptop {
        padding: 17px 27px;
    }
    @include mediaPhone {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }

}

.header__panel-notification {
    position: relative;

    &::after {
        content: "2";
        position: absolute;
        top: 0;
        right: 0;
        width: 16.9px;
        height: 16.9px;

        border-radius: 50%;
        border: 1px solid $white;

        font-size: 11px;
        font-weight: 700;
        line-height: 17px;

        text-align: center;
        color: $white;
        background-color: $circl-notify;
    }
}

.none{
    @include mediaPhone {
        display: none !important;
    }
    
}

.header__menu-phone{
    display: none;
    position: relative;

    margin-right: 10px;
    width: 40px;
    height: 20px;

    cursor: pointer;

    span {
        position: absolute;
        width: 100%;
        height: 2px;
        top: 50%;
        transform: translateY(-50%);

        background-color: $lightBlue-color;

        transition: all .1s ease;
        
    }

    &::before, &::after{
        content: "";
        background-color: $lightBlue-color;
        position: absolute;
        width: 100%;
        height: 2px;
        transition: all .5s ease;
    } 
    &::before{
        top: 0;  
    }
    &::after{
        bottom: 0;
    }

    &.active{
        position: absolute;
        top: 25px;
        right: 5px;
        span{
            opacity: 0;
        }
        &::before {
            top: 50%;
            transform: rotate(45deg) translateY(-50%);
            transition: 0.4s;
        }
        &::after {
            bottom: 50%;
            transform: rotate(-45deg) translateY(50%);
            transition: 0.4s;
        }
    }
    
    @include mediaPhone {
        display: block;
    }
  
}
body.lock{
    overflow: hidden;
    
}



