.history {
    display: flex;
    justify-content: center;
    position: relative;

    max-width: 1920px;
    margin: 0 auto;
    padding-top: 200px;

    &::before{
        content: '';
        width: 283px;
        height: 737px;

        position: absolute;
        top: 40px;
        left: 0;
        

        background-image: url('./../img/history/leftDecor.png');
        background-repeat: no-repeat;
    }

    &::after{
        content: '';
        width: 310px;
        height: 737px;

        position: absolute;
        top: 40px;
        right: 0;
        z-index: -1;

        background-image: url('./../img/history/rightDecor.png');
        background-repeat: no-repeat;

       
    }
}
.history__info {
    padding-top: 110px;
    max-width: 530px;
    
}
.history__title {
    margin-bottom: 80px;
}
.title {
}
.accent-word {
}
.history__desc {
    margin-bottom: 48px;
}
.text {
}
.history__btn {
    margin-top: 60px;
}
.btn {
}
.history__img {
    padding-right: 150px;
}