.history {
    display: flex;
    justify-content: center;
    position: relative;


    padding-top: 100px;
    padding-bottom: 50px;

    &::before {
        content: "";
        width: 283px;
        height: 737px;

        position: absolute;
        top: 40px;
        left: 0;
        

        background-image: url("./../img/history/leftDecor.png");
        background-repeat: no-repeat;
        
        @include mediaLaptop {
            opacity: 0.3;
        }

        @include mediaTablet {
            display: none;
        }

        
        
    }

    &::after {
        content: "";
        width: 310px;
        height: 737px;

        position: absolute;
        top: 40px;
        right: 0;
        z-index: -1;

        background-image: url("./../img/history/rightDecor.png");
        background-repeat: no-repeat;

        @include mediaLaptop {
            opacity: 0.25;
        }

        @include mediaTablet {
            display: none;
        }
    }

    @include mediaTablet {
        justify-content: center;
        text-align: center;
    }
}
.history__info {
    padding-top: 110px;
    max-width: 530px;
    padding-right: 15px;
    @include mediaLaptop {
        max-width: 450px;
        padding-top: 80px;
        padding-left: 15px;
    }
    
}
.history__title {
    font-size: 70px;
    margin-bottom: 80px;

    @include mediaLaptop {
        font-size: 55px;
        margin-bottom: 30px;
    }
    @include mediaTablet {
        font-size: 48px;
    }
}

.history__desc {
    margin-bottom: 48px;
    @include mediaLaptop {
        margin-bottom: 30px;
    }
}

.history__btn {
    margin-top: 60px;
    padding: 23px 40px;

    @include mediaLaptop {
        padding: 19px 35px;
        margin-top: 40px;
    }
}

.history__img {
    padding-right: 150px;
    
    @include mediaLaptop {
        padding-right: 80px;
    }
    @include mediaTablet {
        position: absolute;
        z-index: -1;
        top: 5%;

        opacity: 0.09;
        padding-right: 0;
    }
    
    @include hideImg {
        display: none;
    }
    
}
