.services {
    position: relative;

    padding-top: 100px;
    padding-bottom: 270px;

    text-align: center;

    &::before {
        content: "";
        width: 283px;
        height: 737px;

        position: absolute;
        bottom: -100px;
        left: 0;
        z-index: -1;

        background-image: url("./../img/services/leftDecor.png");
        background-repeat: no-repeat;

        @include mediaLaptop {
            opacity: 0.25;
        }

        @include mediaTablet {
            display: none;
        }
    }

    &::after {
        content: "";
        width: 310px;
        height: 737px;

        position: absolute;
        bottom: -100px;
        right: 0;
        z-index: -1;

        background-image: url("./../img/services/rightDecor.png");
        background-repeat: no-repeat;

        @include mediaLaptop {
            opacity: 0.25;
        }

        @include mediaTablet {
            display: none;
        }
    }
    @include mediaTablet {
        padding-top: 250px;
        padding-bottom: 150px;
    }
    @include mediaPhone {
        padding-top: 150px;
    }
}
.services__title {
    margin-bottom: 73px;

    font-size: 70px;
    font-weight: 700;
    line-height: 81px;
    letter-spacing: 2.1px;

    @include mediaLaptop {
        font-size: 55px;
    }

    @include mediaTablet {
        margin-bottom: 0;
        font-size: 48px;
        line-height: 0.5;
    }
}

.services__cards {
    display: flex;
    gap: 45px;

    max-width: 1420px;
    margin: 0 auto;
    padding: 0 15px;

    @include mediaTablet {
        flex-direction: column;
        row-gap: 45px;
        padding: 30px 40px 70px;
    }
}
.services__card {
    flex-basis: 33.3%;
    padding: 50px 40px 70px;

    background-color: $card;

    border-bottom: 5px solid $lightBlue-color;
    border-radius: 29px;

    transition: all 0.2s ease-in-out;

    @include mediaTablet {
        padding: 35px 25px 50px;
    }
}
.services__card-img {
    margin-bottom: 60px;
    padding: 30px 23px;

    background-color: $card-img-bg;
    border-bottom: 1px solid $card-border;
    border-radius: 13px;

    @include mediaTablet {
        margin-bottom: 35px;
    }
}
.services__card-title {
    margin-bottom: 60px;

    font-size: 45px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 1.35px;

    color: $text-color;

    @include mediaTablet {
        margin-bottom: 25px;
        font-size: 35px;
    }
}
.services__card-desc {
    color: $text-color;

    opacity: 0.65;
    font-size: 25px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0.75px;

    @include mediaTablet {
        font-size: 21px;
    }
}
