@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600;700&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    background-color: $white;

    font-family: $font-main;
    font-size: 25px;
    color: $text-color;
}

.container {
    max-width: 1920px;
    margin: 0 auto;

    position: relative;
}

.btn {
    padding: 23px 32px;
    border-radius: 20px;
    box-shadow: 0px 10px 25px 4px rgba(153, 186, 237, 0.5);

    color: $white;
    background-color: $lightBlue-color;

    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.6px;

    transition: all 0.25s linear;

    &:hover {
        filter: grayscale(0.3);
    }

    @include mediaLaptop {
        font-size: 18px;
    }
}

.text {
    color: $text-color;
    font-size: 25px;
    font-weight: 400;
    line-height: 37.6px;
    letter-spacing: 0.75px;

    @include mediaLaptop {
        opacity: 1;
        font-size: 21px;
    }
}

.title {
    color: $title-color;

    font-size: 75px;
    font-weight: 700;
    line-height: 133.6%;

    @include mediaLaptop {
        font-size: 55px;
    }

    @include mediaTablet {
        font-size: 48px;
    }
}

.accent-word {
    color: $title-accent;

    font-size: 75px;
    font-weight: 700;
    line-height: 100px;

    @include mediaLaptop {
        font-size: 55px;
    }

    @include mediaTablet {
        font-size: 48px;
    }
}

// body lock

body.lock {
    height: 100vh;
    overflow-y: hidden;
}
