@mixin mediaLaptop{
    @media screen and (max-width: $laptop) {
        @content;
    }
}

@mixin mediaTablet{
    @media screen and (max-width: $tablet) {
        @content;
    }
}

@mixin mediaPhone{
    @media screen and (max-width: $phone) {
        @content;
    }
}

@mixin hideImg{
    @media screen and (max-width: $hideImgResolution) {
        @content; 
    }
}
