// Fonts
$font-main: 'Catamaran', sans-serif;


// Colors
$white: #fff;
$text-color: #153461;
$lightBlue-color: #99BAED;
$card-border: #008FDD;
$card-shadow: #D4E5FF;
$btn-blue: #A3C1EF;
$title-accent: #FBB400;
$title-color: #163561;
$card: #FAFBFF;
$card-img-bg: #E5ECFE;
$circl-notify: #FF5050;
$socials-color: #D3E5FF;
$burger-bg: #ccd7e8;

// Devices
$laptop: 1400px;
$tablet: 1050px;
$phone: 650px;
$hideImgResolution: 450px; 
