// Fonts
$font-main: "Catamaran", sans-serif;

// Colors
$white: #fff;
$black: #000;
$text-color: rgba(15, 34, 61, 0.65);
$lightBlue-color: #99baed;
$card-border: #008fdd;
$card-shadow: #d4e5ff;
$btn-blue: #a3c1ef;
$title-accent: #fbb400;
$title-color: #163561;
$card: #fafbff;
$card-img-bg: #e5ecfe;
$circl-notify: #ff5050;
$socials-color: #d3e5ff;
$burger-bg: #f6f9ff;
$error-field: #fa8b8b;

// Devices
$laptop: 1400px;
$tablet: 1050px;
$phone: 650px;
$hideImgResolution: 450px;
$popupHeight: 430px;
  